{% extends 'base.html' %}
{% block conteudo %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Área de Atualização </title>
</head>
<body>

<div class="content10">


            </ul>
        </nav>
        <div class="content10">
            <h1>ATUALIZAÇÃO DE INFORMAÇÕES</h1>
            <a href="/atualizarTelefone"> Atualizar Telefone </a><br><br>
            <a href="/atualizarCpf"> Atualizar Cpf </a><br><br>
            <a href="/atualizarNome"> Atualizar Nome </a><br><br>




    </div>

</body>
</html>



{% endblock %}