{% extends 'base.html' %}
{% block conteudo %}


        <div class="login-header">
            <header>Cadastro Usuário</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder=" Nome do Cliente" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Digite o endereço" autocomplete="off" required>
        </div>

        <div class="input-box">
            <input type="text" class="input-field" placeholder="Digite o CPF" autocomplete="off" required>
        </div>


        <button> <a href="/atualizarNome">Confirmar</a></button>









{% endblock %}