{% extends 'base.html' %}
{% block conteudo %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styless.css">
    <title>Consultar Senac</title>
</head>
<body>
    <div class="login-box">
        <div class="login-header">
            <header>Consultar Senac</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email ou Telefone" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Senha" autocomplete="off" required>
        </div>

        <div class="input-box">
            <input type="password" class="input-field" placeholder="Senha" autocomplete="off" required>
        </div>

        <div class="input-box">
            <input type="password" class="input-field" placeholder="Senha" autocomplete="off" required>
        </div>

        <div class="input-box">
            <input type="password" class="input-field" placeholder="Senha" autocomplete="off" required>
        </div>

        <div class="input-box">
            <input type="password" class="input-field" placeholder="Senha" autocomplete="off" required>
        </div>
        <div class="forgot">
            <section>




</body>
</html>



    <button>
    Cancelar
</button>







    <button>Cadastrar</button>
    </form>
    <a href="/listar">Consultar Tudo</a><br><br>
    <a href="/listarIndividual">Consultar individual</a><br><br>
    <a href="/atualizar">Atualizar</a><br><br>
    <a href="/excluir">Excluir</a><br><br>
'   <a href="/consultarnome">Cadastrar Nome</a><br><br>
    <a href="/consultarendereco">Cadastrar Endereço</a><br><br>
    <a href="/consultarTelefone">Consultar Telefone</a><br><br>
    <a href="/atualizarTelefone">Atualizar Telefone</a><br><br>
    <a href="/consultoriaGeral">Consultar Geral</a><br><br>
    <a href="/atualizacao">Atuailização Geral</a><br><br>
    <a href="/atualizarCpf">Atuailização Cpf</a><br><br>
    <a href="/atualizarNome">Atuailização Nome </a><br><br>
    <a href="/excluir"> Excluir </a><br><br>
    <a href="/cadastronovo"> Cadastro de Usuário </a><br><br>
    <a href="/listarcomcpf"> Cadastrar com CPF</a>
    <a href="/cadastrarUsuario"> Cadastrar Usuário</a>




{% endblock %}