{% extends 'base.html' %}
{% block conteudo %}


  <div class="contact-form">
  <span class="heading">Fale Conosco</span>
  <form>
    <label for="name">Name:</label>
    <input type="text" required="">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required="">
    <label for="message">Digite Sua Mensagem:</label>
    <textarea id="message" name="message" required=""></textarea>
    <button type="submit">Enviar</button>
  </form>
</div>


  </form>
</div>





{% endblock %}