{% extends 'base.html' %}
{% block conteudo %}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Consultas Senac</title>
</head>
<body>
    <div class="hero">

        <video autoplay loop muted plays-inline class="back-video">
            <source src="../static/mano.mp4" type="video/mp4">
        </video>

        <nav>
            <img src="../static/senaclogo.png" class="logo" alt="teste foto">
            <ul>

                <li><a href="/consultoriaGeral">Consularia Geral</a></li>
                <li><a href="/atualizacao">Atualização Geral</a></li>
                <li><a href="/contato">Entre em Contato </a></li>
                <li><a href="/cadastrarnovo">Cadastro de Usuário</a></li>
                <li><a href="/exclusao">Excluir</a></li>














            </ul>
        </nav>
        <div class="content">
            <h1>CONSULTAS SENAC</h1>
            <a href="/listarcomcpf"> Cadastrar com CPF</a>

    </div>

        <footer>



        </footer>

</body>
</html>

{% endblock %}

